# Test Notebook
In this notebook, I will test all the functions and classes that I am making in the main program to see the outcome of them dynamically.

## Evaluate the DataDivider class
in this part I will analyze the data and adjuct the DataDivider class for this assignment

In [1]:
# import the general libraries
import yaml
import os
import pandas as pd

In [2]:
#inspired by https://fennaf.gitbook.io/bfvm22prog1/data-processing/configuration-files/yaml

def configReader():
    """
    explanation: This function open config,yaml file 
    and fetch the gonfigue file information
    input: ...
    output: configue file
    """
    with open("config.yaml", "r") as inputFile:
        config = yaml.safe_load(inputFile)
    return config

In [3]:
def dataframe_maker(config):
    file_directory, file_name = config.values()
    os.chdir(file_directory)
    df = pd.read_csv(file_name).drop('Unnamed: 0', axis=1)
    return df
df = dataframe_maker(configReader())
df.head()

,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [8]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [9]:
df.set_index('timestamp', inplace=True)
df.head()

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
timestamp,,,,,,,,,,,,,,,,,,,,,
2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,15.01013,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,15.08247,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,15.08247,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [93]:
# some information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 220320 entries, 2018-04-01 00:00:00 to 2018-08-31 23:59:00
Data columns (total 53 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       210112 non-null  float64
 1   sensor_01       219951 non-null  float64
 2   sensor_02       220301 non-null  float64
 3   sensor_03       220301 non-null  float64
 4   sensor_04       220301 non-null  float64
 5   sensor_05       220301 non-null  float64
 6   sensor_06       215522 non-null  float64
 7   sensor_07       214869 non-null  float64
 8   sensor_08       215213 non-null  float64
 9   sensor_09       215725 non-null  float64
 10  sensor_10       220301 non-null  float64
 11  sensor_11       220301 non-null  float64
 12  sensor_12       220301 non-null  float64
 13  sensor_13       220301 non-null  float64
 14  sensor_14       220299 non-null  float64
 15  sensor_15       0 non-null       float64
 16  sensor_16       220289 non-null  float64
 17  sensor_17       220274 non-null  float64
 18  sensor_18       220274 non-null  float64
 19  sensor_19       220304 non-null  float64
 20  sensor_20       220304 non-null  float64
 21  sensor_21       220304 non-null  float64
 22  sensor_22       220279 non-null  float64
 23  sensor_23       220304 non-null  float64
 24  sensor_24       220304 non-null  float64
 25  sensor_25       220284 non-null  float64
 26  sensor_26       220300 non-null  float64
 27  sensor_27       220304 non-null  float64
 28  sensor_28       220304 non-null  float64
 29  sensor_29       220248 non-null  float64
 30  sensor_30       220059 non-null  float64
 31  sensor_31       220304 non-null  float64
 32  sensor_32       220252 non-null  float64
 33  sensor_33       220304 non-null  float64
 34  sensor_34       220304 non-null  float64
 35  sensor_35       220304 non-null  float64
 36  sensor_36       220304 non-null  float64
 37  sensor_37       220304 non-null  float64
 38  sensor_38       220293 non-null  float64
 39  sensor_39       220293 non-null  float64
 40  sensor_40       220293 non-null  float64
 41  sensor_41       220293 non-null  float64
 42  sensor_42       220293 non-null  float64
 43  sensor_43       220293 non-null  float64
 44  sensor_44       220293 non-null  float64
 45  sensor_45       220293 non-null  float64
 46  sensor_46       220293 non-null  float64
 47  sensor_47       220293 non-null  float64
 48  sensor_48       220293 non-null  float64
 49  sensor_49       220293 non-null  float64
 50  sensor_50       143303 non-null  float64
 51  sensor_51       204937 non-null  float64
 52  machine_status  220320 non-null  object
dtypes: float64(52), object(1)
memory usage: 98.8+ MB

In [10]:
# show the index of the dataset
df.index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2018-08-31 23:50:00', '2018-08-31 23:51:00',
               '2018-08-31 23:52:00', '2018-08-31 23:53:00',
               '2018-08-31 23:54:00', '2018-08-31 23:55:00',
               '2018-08-31 23:56:00', '2018-08-31 23:57:00',
               '2018-08-31 23:58:00', '2018-08-31 23:59:00'],
              dtype='datetime64[ns]', name='timestamp', length=220320, freq=None)

This dataset starts from April and ends at the end of August.

In [ ]:
def file_divider(df, frequency='M'):

    # Make a series of the range in which wants to divide the data
    start_date = df.index.min()
    end_date = df.index.max()
    dates = pd.date_range(start=start_date, end=end_date, freq='M')

    # Slice around 60% of the dataset for training purpose
    train_month_number = int(len(dates) * 0.6) - 1
    df_train = df.loc[:dates[train_month_number]]

    # add test datasets to the divided dataframe dictionary using dic comprehension
    divided_df_dict = {f'df_test{number+1}': df.loc[dates[counter]:dates[counter+1]]
            for number, counter in enumerate(range(train_month_number, len(dates) - 1, 1))}
    
    # add training data to the dictionary
    divided_df_dict['df_train'] = df_train

    return divided_df_dict

I made the above function to divide the dataset into one train data (about 60% of the dataset), and divide rest of the dataset into a number od testing datasets. It can change dynamically based on the date range that is used as the input. Also, I made a version of this function to save the dataframes directly.

In [ ]:
    def dataframe_divider(self, division_range='M'):
        """
        this method divide the dataset into definite number of 
        training and testing datasets, then save them in a determined path
        """
        # change the directory
        output_dir = self.config['output_path']
        os.makedirs(output_dir, exist_ok=True)

        # Make a series of the range in which wants to divide the data
        start_date = self.df.index.min()
        end_date = self.df.index.max()
        dates = pd.date_range(start=start_date, end=end_date, freq=division_range)

        # Slice around 60% of the dataset for training purpose
        train_month_number = int(len(dates) * 0.6) - 1
        df_train = self.df.loc[:dates[train_month_number]]

        # save the train dataset
        df_train.to_csv(os.path.join(output_dir, 'df_train.csv'))

        # save all the test sets
        for number, counter in enumerate(range(train_month_number, len(dates) - 1, 1)):
            df_test = self.df.loc[dates[counter]:dates[counter+1]]
            df_test.to_csv(os.path.join(output_dir, f'df_test{number+1}.csv'))

## DataDivider Class
This is one version of the this class.

In [ ]:
# This is another version of this class
import yaml
import os
import pandas as pd

class DataDivider():

    def __init__(self, input_path):
        self.config = self.config_reader(input_path)
        self.df = self.dataframe_maker()
        #self.output_dir = self.config['output_path']

    def config_reader(self, input_path):
        """
        explanation: This function open config,yaml file 
        and fetch the gonfigue file information
        input: ...
        output: configue file
        """
        with open(input_path, "r", encoding="utf8") as input_file:
            config = yaml.safe_load(input_file)

        return config

    def dataframe_maker(self):
        """
        make the main dataset based on the configuration file
        """
        # make the dataframe
        file_directory, file_name, _ = self.config.values()
        os.chdir(file_directory)
        df = pd.read_csv(file_name).drop('Unnamed: 0', axis=1)

        # change the type of the timestamp column
        df['timestamp'] = pd.to_datetime(df['timestamp'])

        # set timestamp column as the index
        df.set_index('timestamp', inplace=True)

        return df

    def dataframe_divider(self, division_range='M'):
        """
        this method divide the dataset into definite number of 
        training and testing datasets, then save them in a determined path
        """

        # Make a series of the range in which wants to divide the data
        start_date = df.index.min()
        end_date = df.index.max()
        dates = pd.date_range(start=start_date, end=end_date, freq='M')

        # Slice around 60% of the dataset for training purpose
        train_month_number = int(len(dates) * 0.6) - 1
        df_train = df.loc[:dates[train_month_number]]

        # add test datasets to the divided dataframe dictionary using dic comprehension
        divided_df_dict = {f'df_test{number+1}': df.loc[dates[counter]:dates[counter+1]]
                for number, counter in enumerate(range(train_month_number, len(dates) - 1, 1))}
        
        # add training data to the dictionary
        divided_df_dict['df_train'] = df_train

        return divided_df_dict

    def dataframe_saver(self, df_dict):
        """
        this method saves the dataframes in a path
        """
        output_dir = self.config['output_path']
        for df_name in df_dict.keys():
            df_dict[df_name].to_csv(os.path.join(output_dir, f'{df_name}.csv'))

if __name__ == '__main__':

    # run the DataDivider class
    divider = DataDivider('config.yaml')
    df_dict = divider.dataframe_divider()
    divider.dataframe_saver(df_dict)

In this stage I will make DataManager class first, then I will make Model clas

## DataManager
The necessary steps are borrowed from my educational notebook. Here, I only used the best preprocessing pipeline.